.app.dark {
  --bg-color: #2a1586;
  --inverted-bg-color: #cfc6ea;

  --primary-color: #77d277;
  --secondary-color: #4a8d4a;
  --inverted-primary-color: #176f9b;
  --inverted-secondary-color: #0d1c75;
}
