.app.light {
  --bg-color: #cfc6ea;
  --inverted-bg-color: #2a1586;

  --primary-color: #176f9b;
  --secondary-color: #0d1c75;
  --inverted-primary-color: #77d277;
  --inverted-secondary-color: #4a8d4a;
}
